@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Crime Recorder Database</h1>
    <p>A project for demonstrating ASP.NET MVC capabilities</p>
    <p><a href="/CrimeEvents/">Click here to view and add new crime details</a></p>
</div>
